.Rproj.user
.Rhistory
.RData
.Ruserdata
.sav
anes_timeseries_2020_csv_20220210.csv
anes_timeseries_2024_csv_20250219.csv
.pdf
data/ANES/anes_timeseries_cdf_csv_20220916/anes_timeseries_cdf_csv_20220916.csv
data/ANES/2016/anes_timeseries_2016/anes_timeseries_2016_sas.zip
data/ANES/2016/anes_timeseries_2016/anes_timeseries_2016_spss.zip
data/ANES/2016/anes_timeseries_2016/anes_timeseries_2016_stata.zip
.zip
